body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Noto Serif', serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.utente1 {
  display: table;
  max-width: 100%;
  width: 610px;
  min-height: 100px;
  overflow: hidden;
  margin: 20px auto;
  border: 1px dotted #ddd;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  
}

.utente2 {
  display: table;
  max-width: 100%;
  width: 610px;
  min-height: 100px;
  overflow: hidden;
  margin: 20px auto;
  border: 1px dotted #ddd;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.utente3 {
  display: table;
  max-width: 100%;
  width: 610px;
  min-height: 100px;
  overflow: hidden;
  margin: 20px auto;
  border: 1px dotted #ddd;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
